.header {
  border-bottom: solid 3px rgba(146, 146, 151, 0.096);
  background-color: aquamarine;
  padding: 0px;
  font-weight: 700;
  position: relative;

  .header-logo {
    font-size: 20px;
    padding: 20px 0px 20px 0px;
  }
  .header-nav {
    display: flex;
    gap: 25px;
    font-size: 17px;
    a {
      display: inline-block;
      position: relative;
      color: #0087ca;
      padding: 20px 0px 20px 0px;
    }
    
    a:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: -3px;
      z-index: 100;
      left: 0;
      background-color: red;
      transform-origin: bottom right;
      transition: transform 0.3s ease-in-out;
    }
    
    a:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
